/python/_models
/python/--image_dir
/python/images
/python/output
/python/posenet
/python/training_videos
/python/venv/.gitignore
/python/venv/LICENSE.txt
/python/venv/NOTICE.txt
/python/venv/benchmark.py
/python/venv/README.md
/python/venv/webcam_demo.py
